[submodule "fabric_decompiled/src"]
	path = fabric_decompiled/src
	url = https://github.com/FabricMC/fabric-api.git
[submodule "mc_decompiled/sources/26.2"]
	path = mc_decompiled/sources/26.2
	url = git@github-patch:patchnote-mc/mc_decompiled.git
